*.DS_Store
.idea/
*.iml
*.iws
.clover
saiku-webapp/saiku-webapp.iml
saiku-core/jackrabbit.properties
saiku-core/jackrabbit2.properties
saiku-core/saiku-service/data/
saiku-core/saiku-service/derby.log
saiku-core/saiku-service/locks
saiku-core/saiku-service/output/
saiku-core/saiku-service/repo-conf
saiku-core/saiku-service/repository.xml
saiku-ui/target/
