<div class="dialog_inner">
    <div class="dialog_header">
        <h3>Delete Query</h3>
        <a href="#" title="Close" class="close_dialog close">Close</a>
        <div class="clear"></div>
    </div>
    <div class="dialog_body_delete">
        Are you sure you want to delete this query?<br/>
    </div>
    <div class="dialog_footer">
        <a href="#" id="delete_query" class="form_button">&nbsp;Delete&nbsp;</a>
        <a href="#" id="delete_close" class="close form_button">&nbsp;Cancel&nbsp;</a>
    </div>
</div>