<!-- tab_workspace -->
<div class="workspace">
    <div class="workspace_inner">
        <div class="workspace_toolbar">
            <ul>
                <li class="open_query_tb"></li>
                <li class="delete_query_tb"></li>
            </ul>
        </div>
        <div class="workspace_results">
        </div>
    </div>
</div>
<!-- eof tab_workspace -->
<!-- sidebar -->
<div class="sidebar">
    <h3 class="top i18n">Queries</h3>
    <div class="sidebar_inner">
        <ul id="queries"></ul>
    </div>
</div>
<!-- eof sidebar -->
<!-- sidebar separator -->
<div class="sidebar_separator"></div>
<!-- eof sidebar separator -->
<div class="clear"></div>