<select class="cubes">
    <option>Select a cube</option>
    <% _.each(connections, function(connection) { %>
        <% _.each(connection.catalogs, function(catalog) { %>
            <% _.each(catalog.schemas, function(schema) { %>
                <optgroup label="<%= schema.name %>">
                <% _.each(schema.cubes, function(cube) { %>
                    <option value=""><%= cube.name %></option>
                <% }); %>
                </optgroup>
            <% }); %>
        <% }); %>
    <% }); %>
</select>