<ul>
<% _.each(dimensions, function(dimension) { %>
<% if (dimension.name != 'Measures') { %>
    <li class='parent_dimension'>
        <span class="root collapsed">
            <a class="folder_collapsed" href="#"><%= dimension.name %></a>
        </span>
        <ul>
        <% _.each(dimension.hierarchies, function(hierarchy) { %>
            <% if (dimension.hierarchies.length > 1) { %>
                <li class="hierarchy hide">
                    <a class="dimension" href="#"><%= hierarchy.name %></a>
                </li>
            <% } %>
            <% _.each(hierarchy.levels, function(level) { %>
                <li class="hide"><a title="<%= level.uniqueName %>" 
                    class="dimension" href="#<%= dimension.name %>/hierarchy/<%= hierarchy.uniqueName %>/<%= level.uniqueName %>"><%= level.name %></a>
                </li>
            <% }); %>
        <% }); %>
        </ul>
<% } %>
<% }); %>
</ul>
                