<!-- tab_workspace -->
<div class="workspace">
    <div class="workspace_inner">
        <div class="workspace_toolbar"></div>
        <div class="workspace_results">
        </div>
    </div>
</div>
<!-- eof tab_workspace -->
<!-- sidebar -->
<div class="sidebar">
    <h3 class="top i18n">Cubes</h3>
    <div class="sidebar_inner">
        <%= cube_navigation %>
    </div>
    <h3 class="i18n">Dimensions</h3>
    <div class="sidebar_inner dimension_tree"></div>
    <h3 class="i18n">Measures</h3>
    <div class="sidebar_inner measure_tree"></div>
</div>
<!-- eof sidebar -->
<!-- sidebar separator -->
<div class="sidebar_separator"></div>
<!-- eof sidebar separator -->
<div class="clear"></div>