<!-- tab_workspace -->
<div class="workspace">
    <div class="workspace_inner">
        <div class="workspace_toolbar"></div>
        <div class="workspace_fields">
            <div class="fields_list" title="COLUMNS">
                <div class="fields_list_header i18n">Columns</div>
                <div class="fields_list_body columns">
                    <ul class="connectable"></ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="fields_list" title="ROWS">
                <div class="fields_list_header i18n">Rows</div>
                <div class="fields_list_body rows">
                    <ul class="connectable">
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="fields_list" title="FILTER">
                <div class="fields_list_header i18n">Filter</div>
                <div class="fields_list_body filter">
                    <ul class="connectable">
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="workspace_results">
        </div>
    </div>
</div>
<!-- eof tab_workspace -->
<!-- sidebar -->
<div class="sidebar">
    <h3 class="top i18n">Cubes</h3>
    <div class="sidebar_inner">
        <select class="cubes">
        </select>
    </div>
    <h3 class="i18n">Dimensions</h3>
    <div class="sidebar_inner dimension_tree"></div>
    <h3 class="i18n">Measures</h3>
    <div class="sidebar_inner measure_tree"></div>
</div>
<!-- eof sidebar -->
<!-- sidebar separator -->
<div class="sidebar_separator"></div>
<!-- eof sidebar separator -->
<div class="clear"></div>