<ul>
    <li><a href="#save_query" class="i18n save button disabled_toolbar" title="Save query"></a></li>
    <li class="seperator"><a href="#run_query" class="i18n run button disabled_toolbar" title="Run query"></a></li>
    <li><a href="#automatic_execution" class="i18n auto button disabled_toolbar" title="Automatic execution"></a></li>
    <li><a href="#toggle_fields" class="i18n toggle_fields button disabled_toolbar" title="Toggle fields"></a></li>
    <li class="seperator"><a href="#non_empty" class="i18n non_empty button disabled_toolbar"  title="Non-empty"></a></li>
    <li><a href="#swap_axis" class="i18n swap_axis button disabled_toolbar" title="Swap axis"></a></li>
    <li><a href="#drillthrough" class="i18n drillthrough button disabled_toolbar" title="Drill Through current query"></a></li>
    <li><a href="#show_mdx" class="i18n mdx button disabled_toolbar" title="Show MDX"></a></li>
    <li class="seperator"><a href="#export_xls" class="i18n export_xls button disabled_toolbar" title="Export XLS"></a></li>
    <li><a href="#export_csv" class="i18n export_csv button disabled_toolbar" title="Export CSV"></a></li>
    
</ul>