<?xml version="1.0" encoding="UTF-8"?>

<plugin title="saiku" name="saiku" loader="OVERRIDING">

 <overlays>
    <overlay id="startup.saikuAnalytics"  resourcebundle="content/saiku-ui/saikuplugin.properties" priority="1">
  		<menubar id="newmenu">
  			<menuitem id="new-saiku-analytics" label="Saiku Analytics" command="mantleXulHandler.openUrl('Saiku Analytics','Saiku Analytics','content/saiku-ui/index.html?biplugin5=true')" />
  		</menubar>				
    </overlay>
    
    <overlay id="launch" resourcebundle="content/saiku-ui/saikuplugin.properties"> 
    	<button id="SaikuAnalytics" label="Saiku Analytics" command="Home.openFile('Saiku Analytics','Saiku Analytics', 'content/saiku-ui/index.html?biplugin5=true');$('#btnCreateNew').popover('hide')"/>
    </overlay>
  </overlays>
  
<!--
    <content-types>
    	<content-type mime-type="text/xml" type="saiku">
		<title>Saiku Analytics</title>
		<description>Saiku Analytics File</description>
		<icon-url>content/saiku-ui/images/src/saiku_16.png</icon-url>
			<operations>
				<operation>
					<id>EDIT</id>
					<perspective>editor</perspective>
				</operation>
			</operations>
        </content-type>
    </content-types>
-->
	
	<content-type type="saiku" mime-type="text/html">
		<title>Saiku Analytics</title>
		<description>Saiku Analytics query definition file</description>
		<icon-url>content/saiku-ui/images/src/saiku_16.png</icon-url>
		<meta-provider>org.saiku.plugin.SaikuContentTypeMetaProvider</meta-provider>
		<operations>
			<operation>
                <id>RUN</id>
				<perspective>run</perspective>
			</operation>
			<operation>
				<id>EDIT</id>
				<perspective>editor</perspective>
			</operation>
		</operations>
	</content-type>
	
	<lifecycle-listener class="org.saiku.plugin.SaikuPluginLifecycleListener" />
	

	<static-paths>
		<static-path url="/saiku-ui" localFolder="ui" />
  		<static-path url="/saiku-ui/css" localFolder="ui/css" />
  		<static-path url="/saiku-ui/docs" localFolder="ui/docs" />
  		<static-path url="/saiku-ui/i18n" localFolder="ui/i18n" />
  		<static-path url="/saiku-ui/images" localFolder="ui/images" />
  		<static-path url="/saiku-ui/views" localFolder="ui/views" />
  		<static-path url="/saiku-ui/js" localFolder="ui/js" />
  		<static-path url="/saiku-ui/config" localFolder="ui/config" />
  		<static-path url="/saiku/ui" localFolder="ui" />
   		<static-path url="/saiku/components" localFolder="components" />
	</static-paths>

</plugin>
