<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

         <context:annotation-config/>
         <context:component-scan base-package="org.saiku" />
         <import resource="applicationContext-saiku.xml"/>
         <import resource="saiku-beans.xml"/>
         <import resource="spring-servlet.xml"/>

        </beans>
