<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd
               http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<bean id="authenticationSuccessHandler" class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
	    <!-- After login, return to the last visited page -->
	    <property name="useReferer" value="true" />
	</bean>
	
  <bean id="serviceProperties"
        class="org.springframework.security.cas.ServiceProperties">
    <property name="service"
        value="http://HOSTNAME:PORT/saiku/j_spring_cas_security_check"/>
    <property name="sendRenew" value="false"/>
  </bean>
  
<bean id="casEntryPoint"
    class="org.springframework.security.cas.web.CasAuthenticationEntryPoint">
  <property name="loginUrl" value="http://HOSTNAME:PORT/cas/login"/>
  <property name="serviceProperties" ref="serviceProperties"/>
</bean> 


	<bean id="casAuthenticationFilter" class="org.springframework.security.cas.web.CasAuthenticationFilter">
    <property name="authenticationManager" ref="authenticationManager" />
    <property name="authenticationFailureHandler">
      <bean class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
        <property name="defaultFailureUrl" value="/casFailed.jsp" />
      </bean>
    </property>
  </bean>
  
	<bean id="exceptionTranslationFilter"
		class="org.springframework.security.web.access.ExceptionTranslationFilter">
		<property name="authenticationEntryPoint">
			<ref bean="casProcessingFilterEntryPoint" />
		</property>
		<property name="accessDeniedHandler">
			<bean class="org.springframework.security.web.access.AccessDeniedHandlerImpl" />
		</property>
	</bean>
	
	<bean id="casProcessingFilterEntryPoint"
		class="org.springframework.security.cas.web.CasAuthenticationEntryPoint">
		<property name="loginUrl"
			value="http://HOSTNAME:PORT/cas/login" />
		<property name="serviceProperties" ref="serviceProperties" />
	</bean>
	
<bean id="ticketValidator"
		class="org.jasig.cas.client.validation.Cas20ServiceTicketValidator">
    <constructor-arg index="0" value="http://localhost:81/cas" />
	</bean>
<bean id="casAuthenticationProvider"
		class="org.springframework.security.cas.authentication.CasAuthenticationProvider">
		<property name="userDetailsService" ref="userDetailsService" />
    <property name="serviceProperties" ref="serviceProperties" />
		<property name="ticketValidator" ref="ticketValidator" />
		<property name="key"
			value="my_password_for_this_auth_provider_only" />
	</bean>

    <bean id="userDetailsService"
          class="org.springframework.security.core.userdetails.jdbc.JdbcDaoImpl">
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
        <property name="authoritiesByUsernameQuery">
            <value>
            </value>
        </property>
        <property name="usersByUsernameQuery">
            <value>
                             

            </value>
        </property>
    </bean>
	<bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="net.sourceforge.jtds.jdbc.Driver" />
        <property name="url"
                  value=""/>
        <property name="username" value="" />
        <property name="password" value="" />
    </bean>
	<!-- Automatically receives AuthenticationEvent messages -->
	 <bean id="loggerListener"
			class="org.springframework.security.access.event.LoggerListener" /> 
	
		<bean id="authenticationEntryPoint"
    class="org.springframework.security.web.authentication.www.BasicAuthenticationEntryPoint">
    <property name="realmName" value="Pentaho Realm" />
</bean>
	
		<!--<bean id="anonymousProcessingFilter"
						class="org.springframework.security.web.authentication.AnonymousAuthenticationFilter">
						<constructor-arg index="0" value="foobar" />
						
		</bean>-->
	 <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider ref="casAuthenticationProvider" />
    </security:authentication-manager>
</beans>
