<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd
       		   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">


<!--+
	| Application context containing "in memory" AuthenticationProvider
	| implementation.
	+-->

  	<security:authentication-manager alias="authenticationManager">

		<security:authentication-provider>
			<security:user-service id="uds" properties="/WEB-INF/users.properties">

			</security:user-service>
		</security:authentication-provider>
	</security:authentication-manager>

</beans>
