<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springsource.org/dtd/spring-beans.dtd">

<!--+
  | Application context containing Hibernate AuthenticationProvider
  | implementation.
  +-->

<beans>

    <bean id="authenticationProvider" class="org.springframework.security.providers.dao.DaoAuthenticationProvider">
        <property name="userDetailsService">
            <ref bean="userDetailsService" />
        </property>
        <property name="passwordEncoder">
            <ref bean="passwordEncoder" />
        </property>
    </bean>

    <!-- UserDetailsService that delegates to an IUserRoleDao -->
    <bean id="userDetailsService" class="org.pentaho.platform.engine.security.userroledao.userdetailsservice.UserRoleDaoUserDetailsService">
        <property name="userRoleDao">
            <ref bean="userRoleDao" />
        </property>
        <property name="rolePrefix" value="" />
        <property name="defaultRole" ref="defaultRole" />
    </bean>

    <!-- IUserRoleDao implementation -->
    <bean id="userRoleDao" class="org.pentaho.platform.engine.security.userroledao.hibernate.HibernateUserRoleDao"
          init-method="init">
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
        <property name="initHandler">
            <!-- detects if USERS table is empty and if so, inserts sample users and roles -->
            <bean class="org.pentaho.platform.engine.security.userroledao.hibernate.sample.SampleUsersAndRolesInitHandler">
                <property name="sessionFactory">
                    <ref bean="sessionFactory" />
                </property>
                <property name="userRoleDao">
                    <ref bean="txnUserRoleDao" />
                </property>
            </bean>
        </property>
    </bean>

    <!-- an IUserRoleDao that decorates another IUserRoleDao with transactions -->
    <bean id="txnUserRoleDao" class="org.pentaho.platform.engine.security.userroledao.hibernate.UserRoleDaoTransactionDecorator">
        <property name="userRoleDao">
            <ref bean="userRoleDao" />
        </property>
        <property name="transactionTemplate">
            <bean class="org.springframework.transaction.support.TransactionTemplate">
                <property name="propagationBehaviorName" value="PROPAGATION_REQUIRES_NEW" />
                <property name="transactionManager">
                    <bean id="hibernateTransactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
                        <property name="sessionFactory">
                            <ref bean="sessionFactory" />
                        </property>
                    </bean>
                </property>
            </bean>
        </property>
    </bean>

    <!-- session factory containing mapping files and config properties -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="mappingResources">
            <list>
                <value>PentahoUser.hbm.xml</value>
                <value>PentahoRole.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.connection.driver_class">${jdbc.driver}</prop>
                <prop key="hibernate.connection.url">${jdbc.url}</prop>
                <prop key="hibernate.connection.username">${jdbc.username}</prop>
                <prop key="hibernate.connection.password">${jdbc.password}</prop>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
                <prop key="hibernate.generate_statistics">true</prop>
                <prop key="hibernate.cache.use_query_cache">true</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.connection.pool_size">10</prop>
            </props>
        </property>
    </bean>

    <!-- not a plaintext password encoder -->
    <bean id="passwordEncoder" class="org.pentaho.platform.engine.security.DefaultPentahoPasswordEncoder" />

</beans>
