<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.H2Dialect
        </property>
        <property name="hibernate.connection.driver_class">
            org.h2.Driver
        </property>

        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">
            jdbc:h2:~/test
        </property>
        <property name="hibernate.connection.username">
            sa
        </property>
        <property name="hibernate.connection.password">

        </property>

        <!-- List of XML mapping files -->
        <mapping resource="Employee.hbm.xml"/>

    </session-factory>
</hibernate-configuration>