<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

	<display-name>saiku</display-name>

	<context-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
	</context-param>
    <context-param>
        <param-name>db.url</param-name>
        <param-value>jdbc:h2:../../data/saiku;MODE=MySQL</param-value>
    </context-param>
    <context-param>
        <param-name>db.user</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>db.password</param-name>
        <param-value></param-value>
    </context-param>
    <context-param>
        <param-name>db.encryptpassword</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>foodmart.url</param-name>
        <param-value>jdbc:h2:../../data/foodmart;MODE=MySQL</param-value>
    </context-param>
    <context-param>
        <param-name>foodmart.user</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>foodmart.password</param-name>
        <param-value></param-value>
    </context-param>
    <context-param>
        <param-name>earthquakes.url</param-name>
        <param-value>jdbc:h2:../../data/earthquakes;MODE=MySQL</param-value>
    </context-param>
    <context-param>
        <param-name>earthquakes.user</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>earthquakes.password</param-name>
        <param-value></param-value>
    </context-param>
    <context-param>
        <param-name>db.tcpServer</param-name>
        <param-value>-tcpAllowOthers</param-value>
    </context-param>

    <context-param>
     <param-name>contextConfigLocation</param-name>
     <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	
	<filter>
		<filter-name>org.springframework.security.filterChainProxy</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	
	<filter-mapping>
		<filter-name>org.springframework.security.filterChainProxy</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>


    <!-- ====================================================================== -->
    <!-- W E B D A V S E R V L E T -->
    <!-- ====================================================================== -->
    <servlet>
        <servlet-name>Webdav</servlet-name>
        <description>
            The webdav servlet that connects HTTP request to the repository.
        </description>
        <servlet-class>org.saiku.repository.SaikuWebdavServlet</servlet-class>
        <init-param>
            <param-name>resource-path-prefix</param-name>
            <param-value>/repository</param-value>
            <description>
                defines the prefix for spooling resources out of the repository.
            </description>
        </init-param>
        <init-param>
            <param-name>resource-config</param-name>
            <param-value>/WEB-INF/config.xml</param-value>
            <description>
                Defines various dav-resource configuration parameters.
            </description>
        </init-param>


        <load-on-startup>4</load-on-startup>
    </servlet>
    <!-- ====================================================================== -->
    <!-- J C R R E M O T I N G S E R V L E T -->
    <!-- ====================================================================== -->
   <!-- <servlet>
        <servlet-name>JCRWebdavServer</servlet-name>
        <description>
            The servlet used to remote JCR calls over HTTP.
        </description>
        <servlet-class>org.apache.jackrabbit.server.remoting.davex.JcrRemotingServlet</servlet-class>
        <init-param>
            <param-name>missing-auth-mapping</param-name>
            <param-value></param-value>
        </init-param>
        <init-param>
            <param-name>resource-path-prefix</param-name>
            <param-value>/server</param-value>
            <description>
                defines the prefix for spooling resources out of the repository.
            </description>
        </init-param>
        <init-param>
            <param-name>batchread-config</param-name>
            <param-value>/WEB-INF/batchread.properties</param-value>
            <description>JcrRemotingServlet: Optional mapping from node type names to default depth.</description>
        </init-param>
         <load-on-startup>5</load-on-startup>
    </servlet>-->
    <!-- ====================================================================== -->
    <!-- R M I B I N D I N G S E R V L E T -->
    <!-- ====================================================================== -->
    <!--<servlet>
        <servlet-name>RMI</servlet-name>
        <servlet-class>org.apache.jackrabbit.servlet.remote.RemoteBindingServlet</servlet-class>
    </servlet>-->
    <!-- ====================================================================== -->
    <!-- S E R V L E T M A P P I N G -->
    <!-- ====================================================================== -->
    <servlet-mapping>
        <servlet-name>Webdav</servlet-name>
        <url-pattern>/repository/*</url-pattern>
    </servlet-mapping>
  <!--  <servlet-mapping>
        <servlet-name>JCRWebdavServer</servlet-name>
        <url-pattern>/server/*</url-pattern>
    </servlet-mapping>-->
    <!--<servlet-mapping>
        <servlet-name>RMI</servlet-name>
        <url-pattern>/rmi</url-pattern>
    </servlet-mapping>-->

    <servlet>
        <servlet-name>H2Console</servlet-name>
        <servlet-class>org.h2.server.web.WebServlet</servlet-class>
        <!--
        <init-param>
            <param-name>webAllowOthers</param-name>
            <param-value></param-value>
        </init-param>
        <init-param>
            <param-name>trace</param-name>
            <param-value></param-value>
        </init-param>
        -->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>H2Console</servlet-name>
        <url-pattern>/console/*</url-pattern>
    </servlet-mapping>

	<servlet>
    	<servlet-name>jersey2</servlet-name>
    	<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
    	<init-param>
      		<param-name>com.sun.jersey.config.property.packages</param-name>
      		<param-value>org.saiku.web;com.fasterxml.jackson.jaxrs.json</param-value>
    	</init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
    	<!--<init-param>
      		<param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
      		<param-value>com.sun.jersey.api.container.filter.PostReplaceFilter</param-value>
    	</init-param>-->
        <init-param>
            <param-name>com.sun.jersey.config.feature.Trace</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>jaxrs.providers</param-name>
            <param-value>org.saiku.web.rest.SerializableProvider</param-value>
        </init-param>
<!-- 		<init-param>
		    <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
		    <param-value>com.sun.jersey.api.container.filter.GZIPContentEncodingFilter</param-value>
		</init-param>  -->

    	<load-on-startup>1</load-on-startup>
  	</servlet>

	  <servlet-mapping>
	    <servlet-name>jersey2</servlet-name>
	    <url-pattern>/rest/*</url-pattern>
	  </servlet-mapping>

  <!--<servlet-mapping>
    <servlet-name>jersey2</servlet-name>
    <url-pattern>/rest/saiku/session</url-pattern>
  </servlet-mapping>-->
    <servlet>
        <servlet-name>xmla</servlet-name>
        <servlet-class>org.saiku.olap.util.SaikuXmlaServlet</servlet-class>

        <init-param>
            <param-name>OlapDriverUsePreConfiguredDiscoverDatasourcesResponse</param-name>
            <param-value>true</param-value>
        </init-param>

        <init-param>
            <param-name>OlapDriverDiscoverDatasources.dataSourceName</param-name>
            <param-value>[XMLA olap4ld]</param-value>
        </init-param>

        <init-param>
            <param-name>OlapDriverDiscoverDatasources.dataSourceInfo</param-name>
            <param-value>[LdCatalogSchema]</param-value>
        </init-param>
        <init-param>
            <param-name>OlapDriverDiscoverDatasources.url</param-name>
            <param-value>@datasourceUrl@</param-value>
        </init-param>
        <init-param>
            <param-name>OlapDriverDiscoverDatasources.providerType</param-name>
            <param-value>TDP</param-value>
        </init-param>

        <init-param>
            <param-name>OlapDriverDiscoverDatasources.authenticationMode</param-name>
            <param-value>Unauthenticated</param-value>
        </init-param>

        <init-param>
            <param-name>OlapDriverMaxNumConnectionsPerUser</param-name>
            <param-value>15</param-value>
        </init-param>

        <init-param>
            <param-name>OlapDriverClassName</param-name>
            <param-value>org.olap4j.driver.olap4ld.Olap4ldDriver</param-value>
        </init-param>

        <init-param>
            <param-name>OlapDriverConnectionString</param-name>
            <param-value>jdbc:ld://olap4ld;Catalog=LdCatalog;JdbcDrivers=com.mysql.jdbc.Driver;Server=http://;Database=EMBEDDEDSESAME;Datastructuredefinitions=;Datasets=;</param-value>
        </init-param>

        <init-param>
            <param-name>OlapDriverConnectionProperty.Prefix</param-name>
            <param-value>@connectionPrefix@</param-value>
        </init-param>

        <init-param>
            <param-name>OlapDriverConnectionProperty.FetchLevelProperties</param-name>
            <param-value>false</param-value>
        </init-param>

        <init-param>
            <param-name>OlapDriverConnectionProperty.FetchMemberProperties</param-name>
            <param-value>false</param-value>
        </init-param>

        <init-param>
            <param-name>OlapDriverConnectionProperty.FetchMembers</param-name>
            <param-value>true</param-value>
        </init-param>

        <init-param>
            <param-name>OlapDriverConnectionProperty.QueryTimeoutMs</param-name>
            <param-value>@queryTimeout@</param-value>
        </init-param>

        <init-param>
            <param-name>OlapDriverConnectionProperty.AuthenticationProvider</param-name>
            <param-value>com.someotherclass.XmlaAuthenticationProvider</param-value>
        </init-param>

        <init-param>
            <param-name>OlapDriverConnectionProperty.ConnectionTimeoutMs</param-name>
            <param-value>@connectionTimeout@</param-value>
        </init-param>

        <init-param>
            <param-name>OlapDriverConnectionProperty.TotalCellLimit</param-name>
            <param-value>@totalCellLimit@</param-value>
        </init-param>

        <init-param>
            <param-name>OlapDriverConnectionProperty.PerPivotCellLimit</param-name>
            <param-value>@perPivotCellLimit@</param-value>
        </init-param>

        <init-param>
            <param-name>OlapDriverConnectionProperty.Source</param-name>
            <param-value>Excel</param-value>
        </init-param>

        <init-param>
            <param-name>IdleConnectionsTimeoutMinutes</param-name>
            <param-value>@idleConnectionCleanupTimeout@</param-value>
        </init-param>

        <init-param>
            <param-name>EnableConnectionReuse</param-name>
            <param-value>@enableConnectionsReuse@</param-value>
        </init-param>

        <init-param>
            <param-name>EnableCubesMetadataPrefetch</param-name>
            <param-value>@enableCubesMetadataPrefetch@</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>xmla</servlet-name>
        <url-pattern>/xmla/*</url-pattern>
    </servlet-mapping>

</web-app>
