<div class="dialog_inner">
    <div class="dialog_header">
        <h3>Save Query</h3>
        <a href="#" title="Close" class="close_dialog close">Close</a>
        <div class="clear"></div>
    </div>
    <div class="dialog_body_save">
        To save a new query please type in a name in the text box below:<br/>
        <span class="error_msg"></span>
        <input type="text" id="query_name" />
    </div>
    <div class="dialog_footer">
        <a href="#" id="save_query" class="form_button">&nbsp;Save&nbsp;</a>
        <a href="#" id="save_close" class="close form_button">&nbsp;Cancel&nbsp;</a>
    </div>
</div>