<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" 
     xmlns:security="http://www.springframework.org/schema/security"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:oauth="http://www.springframework.org/schema/security/oauth2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
              http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
              http://www.springframework.org/schema/security/oauth2 http://www.springframework.org/schema/security/spring-security-oauth2.xsd
			   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
			   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<context:annotation-config />

	<security:global-method-security secured-annotations="enabled">
	</security:global-method-security>
  
  <!-- 
  Saiku currently ships with basic authentication working out of the box, below is also the code for Digest authentication, 
  should you want digest authentication for you application comment out the basic authentication block and enable digest authentication.
  We are also working on other authentication methods, namely OAuth and Remember me token based policies. 
  
  To add and remove users you currently have to edit WEB-INF/users.properties, this will be replaced with an admin console in due course and
  you can also swap this out for JDBC backed security lists and (although untested) technically LDAP etc.
  
  If you modify these files in anyway it would be very useful if you sent us patches for any useful changes you make.
   -->
  
  <!-- BASIC AUTHENTICATION -->

    <security:http auto-config='true' access-denied-page="/login.jsp">
	<security:intercept-url pattern="/serverdocs/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
  	<security:intercept-url pattern="/rest/saiku/session*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
      	<security:intercept-url pattern="/rest/saiku/session/" access="IS_AUTHENTICATED_ANONYMOUSLY" />
	<security:intercept-url pattern="/rest/**" access="IS_AUTHENTICATED_FULLY" />
	<security:intercept-url pattern="/json/**" access="IS_AUTHENTICATED_FULLY" />
    <security:intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />	
    <security:logout logout-url="/logout"/>  
 	<security:http-basic/>
  
	</security:http>
   <import resource="applicationContext-spring-security.xml"/>

  	

	
</beans>
