#Maven
target/
#Eclipse
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
saiku-web/src/test/resources/org/saiku/web/rest/resources/foodmart/foodmart.backup
saiku-web/src/test/resources/org/saiku/web/rest/resources/foodmart/foodmart.data
saiku-core/saiku-service/saiku-service.iml
saiku-core/saiku-web/saiku-web.iml
bin/
#IntelliJ IDEA
.idea
*.iml
**/*.iml
