#splash {height:100%}
#splash *{padding:0;margin:0;text-decoration:none;}
/*body{background:linear-gradient(#ffffff 0%, #e4e4e4 100%);font-family:'News Cycle',Arial,sans-serif;height:100%;display:block;}*/
#splash nav{width:100%;border-bottom:1px solid #ccc;float:left;background:linear-gradient(#ffffff 0%, #e4e4e4 100%);}
#splash nav h2{float:right;line-height:48px;margin-right:100px;color:#BE1E2D;font-weight:400;}
#splash nav ul{list-style: none;line-height:48px;font-size:21px;margin-left:100px;}
#splash nav ul li{display:inline-block;float:left;padding:0px 40px;border-right:1px solid #fff;}
#splash nav ul li.enterprise{background:linear-gradient(#a62323 0%, #BE1E2D 100%);}

#splash nav a{color:#A7A9AC;}
#splash nav a:hover,nav li.active a{color:#6D6E71;}

#splash nav li.enterprise a{color:#fff;}

#splash .tabs{width:100%;display:block;margin:0 auto;float:left;height:100%;}
#splash .tabs section{width:1100px;margin:0 auto;display:block;}
#splash h1.saikulogo{width:275px;height:72px;background:url('../../../images/src/saiku.png') center center no-repeat;text-indent:-10000px;margin:0.5%;margin-bottom:20px;}

#splash p{max-width:700px;margin:0.5%;margin-bottom:40px;}
#splash p.fixed{max-width:500px;}
#splash .tabs h2{clear:left;margin-left:0.5%;color:#6D6E71;font-weight:400;margin-bottom:12px;}
#splash small a{color:#A7A9AC;}

#splash ul.quicklinks{list-style: none;max-width:500px;text-align: center;margin-bottom:40px;float:left;}
#splash ul.quicklinks li{width:48%;margin:1%;float:left;border:3px solid #BE1E2D;border-radius:4px;line-height:36px;box-sizing: border-box;padding-bottom:3px;}
#splash ul.quicklinks li a{color:#BE1E2D;}
#splash ul.quicklinks li:hover{background:linear-gradient(#a62323 0%, #BE1E2D 100%);}
#splash ul.quicklinks li:hover a{color:#fff;}

#splash a.button{border-radius:4px;background:linear-gradient(#a62323 0%, #BE1E2D 100%);width:48%;margin:0%;display:inline-block;line-height:36px;color:#fff;text-align: center;padding-bottom:3px;border:3px solid #BE1E2D;box-sizing:border-box;margin-right:20px;}

#splash #welcome{background:url('../../../images/src/mac.png') bottom right no-repeat;}

#splash table{width:100%;color:#6D6E71;text-align: center;}
#splash table th{text-align: center;font-size:24px;font-weight:400;}

#splash a{color:#BE1E2D;}
#splash a:hover{color:#000;}

@media screen and (max-width:1200px){
	nav ul{margin-left:0px;}
	nav h2{margin-right:20px;}
	.tabs section{width:960px;}
	#welcome{background-size:60%;}
}

@media screen and (max-width:1000px){
	nav h2{font-size:18px;}
	nav ul li{font-size:18px;}
	.tabs section{width:90%;margin:0 auto;}
	#welcome{background-size:40%;}
}

@media screen and (max-width:800px){
	nav h2{font-size:16px;}
	nav ul li{font-size:16px;padding:0px 20px;}
}

@media screen and (max-width:600px){
	h1.saikulogo{width:275px;height:72px;background:url('../../../images/src/saikux2.png') top left no-repeat;background-size:275px 72px;}
	nav h2{display:none;}
	nav ul li{font-size:16px;width:25%;border-right:none;padding:0px 0px;text-align: center;}
	#welcome{background:none;}
	ul.quicklinks li{width:98%;}
	a.button{width:96%;}
}