/** Field List */

.workspace_fields {
    overflow: hidden;
    padding: 10px 10px 0 10px;
}
.fields_list {
    min-width: 820px;
    border: 1px solid #CCC;
    margin-bottom: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.10);

}
.fields_list .fields_list_header {
    background-color: #E6E6E6;
    background: linear-gradient(to bottom, #FFFFFF, #E6E6E6); 
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E6E6E6));
    background: -moz-linear-gradient(top, #FFFFFF 0%, #E6E6E6 100%);
    border-right: 1px solid #CCC;
    float: left;
    font-weight: bold;
    padding: 3px 5px 3px 10px;
    line-height: 28px;
    width: 70px;
    border-radius: 5px 0px 0px 5px;
}
.fields_list .limit {
    cursor: pointer;
}
.fields_list .limit:hover {
    background: #efefef;
    background: linear-gradient(to bottom, #ddd, #efefef);
    background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#efefef));
    background: -moz-linear-gradient(top, #ddd 0%, #efefef 100%);
    
}


span.dropdown {
background: url("../../../images/src/context_down.png") no-repeat scroll center center transparent;
    height: 16px;
    width: 14px;
    float: right;
    cursor: pointer;
}
span.save {
    background-position: -485px -90px;
    height: 16px;
    padding: 9px 26px 10px 8px;
}

span.clear_axis {
  background: url("../../../images/src/cancel3.png") no-repeat scroll center center transparent;
  cursor: pointer;
  height: 32px;
  opacity: 0.1;
  float: right;
  width: 30px;
  margin-left: -35px;
  z-index: 1;
}
.fields_list:hover span.clear_axis {
  opacity: 0.8;
  -ms-filter: none;
  filter: none;
}

.fields_list .on {
    background-color: #CCC ;    
}


.fields_list .fields_list_body {
    float: left;
    padding:  0;
    margin-right: 37px;
    width: 85%;
}
.fields_list .fields_list_body .all_measures span {
    margin: 0 5px 0 0;
    line-height: 19px;
    padding: 0 6px 1px 6px;
}
.fields_list .fields_list_body ul.connectable {
    height: 19px;
    display: inline-table;
    float: left;
    line-height: 19px;
    list-style: none;
    margin: 0px 0px;
    padding: 3px;
    width: 100%;
}
.fields_list .fields_list_body ul.hierarchy,  
.fields_list_body.details li {
    padding-left: 0px;
}
.fields_list .fields_list_body ul.hierarchy li, 
.fields_list_body.details li {
    float: left;
    line-height: 17px;
    list-style-type: none;
    height: 19px;
    display: inline;
    padding: 1px 8px 1px 0px;
    min-width: 70px;
    text-align: center;
    white-space:nowrap;
    box-shadow: 0 0 2px #DDD;
    border-radius: 3px;
    -moz-box-shadow: 0 0 2px #DDD;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 0 0 2px #DDD;
    -webkit-border-radius: 3px;
    margin: 2px 3px;

}
.fields_list .fields_list_body ul.hierarchy li a , .fields_list_body.details li a {
    padding: 8px 0px 8px 10px;
}

/*
.fields_list .fields_list_body ul li ul {
    float: right;
    margin-right: -5px;
    margin-left: 0;
    width: auto;
}


.fields_list .fields_list_body ul.hierarchy li ul li {
    margin-top: 0;
    margin-right: 5px;
    min-width: 70px;
}
*/
.fields_list .fields_list_body .all_measures {
    padding: 0 !important;
}

.workspace_fields .d_level {
    background: #e5f6ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#e0e9ef), to(#c2d5e2));
    background: -moz-linear-gradient(top, #e0e9ef 0%, #c2d5e2 100%);
    border: 1px solid #2a6085;
    color: #2a6085;
    /* display: inline !important; */
    box-shadow: 0 0 2px #DDD;
}
.workspace_fields .d_level:hover {
    background: #C2DAEF;
}
.workspace_fields .d_level span.selections {
    background-position: -981px 2px;
    height: 16px;
    width: 16px;
    float: right;
    cursor: pointer;
    margin-top: 2px;
}
.workspace_fields .d_level a {
    color: #2a6085;
    text-decoration: none;
}
.workspace_fields .d_measure {
    background: #ffe8e8;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcf5f5), to(#fad9d9));
    background: -moz-linear-gradient(top, #fcf5f5 0%, #fad9d9 100%);
    border: 1px solid #ed9393;
    color: #983030;
    display: inline !important;
}
.workspace_fields .d_measure:hover {
    background: #fad9d9;
}
.workspace_fields .d_measure a {
    color: #983030;
    text-decoration: none;
}

.workspace_fields .d_measure span.sort,
.workspace_fields .d_dimension span.sort {
        height: 16px;
        width: 16px;
        padding: 2px 3px;
        float: right;
        cursor: pointer;
}
.workspace_fields .d_measure span.sort.BASC,
.workspace_fields .d_measure span.sort.ASC,
.workspace_fields .d_dimension span.sort.BASC,
.workspace_fields .d_dimension span.sort.ASC {
    background: url("../../../images/src/sort_up.png") no-repeat center transparent;

}

.workspace_fields .d_measure span.sort.BDESC,
.workspace_fields .d_measure span.sort.DESC,
.workspace_fields .d_dimension span.sort.BDESC,
.workspace_fields .d_dimension span.sort.DESC {
    background: url("../../../images/src/sort_down.png") no-repeat center transparent;
}

.workspace_fields .d_measure span.sort.none,
.workspace_fields .d_dimension span.sort.none {
    background: url("../../../images/src/sort_none.png") no-repeat center transparent;
}
