.workspace_results {
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 10px;
    overflow: auto;
}
.workspace_results table {
    border-bottom: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    margin-bottom: 0;
    table-layout: fixed;
    width: auto;
    border-collapse: separate; 
    border-spacing: 0; 
}
.workspace_results th, .workspace_results td { padding: 4px 10px 4px 5px; }
.workspace_results table th {
    border-left: 1px solid #d5d5d5;
    margin-bottom: 0;
    white-space: normal;
    font-weight: 500;
}

.workspace_results table th.all_null {
    text-align: center;
    border: none;
}
.workspace_results table th.col {
    border-top: 1px solid #d5d5d5;
    background: #f9f9f9;
    text-align: left;
}
.workspace_results table th.col_null {
    background: #f9f9f9;
}
.workspace_results table th.row {
    border-top: 1px solid #d5d5d5;
    background: #f9f9f9;
}

.workspace_results table th.row_header {
      border-top: 1px solid #d5d5d5;
      /*border-bottom: 1px solid #d5d5d5;*/
      background: #E5E5E5;
}

.workspace_results table th.row_null {
    background: #f9f9f9;
}
.workspace_results table td.data {
    border-left: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
    text-align: right;
    white-space: nowrap;
}
.workspace_results table tr:hover {
  background: #edf4fa !important;
}

.workspace_results table td.cellhighlight:hover {
  background: #c2d5e2 !important;
}
.workspace_results table td.cellhighlight {
  cursor: pointer;
}

.workspace_results .headerhighlight:hover {
  background: #c2d5e2 !important;
}
.workspace_results .headerhighlight {
  cursor: pointer;
}

.workspace_results table td.selected,.workspace_results table td.ui-selected,.workspace_results table td.ui-selecting {
  background: #c2d5e2 !important;
}

