<?xml version="1.0" encoding="UTF-8"?>

<plugin title="saiku" loader="OVERRIDING">

	<overlays>
		<overlay id="startup.saikuAnalysis" resourcebundle="../content/saiku-ui/saikuplugin.properties">
			<overlay id="startup.saikuAnalysis">
				<toolbar id="mainToolbar">
					<toolbarbutton id="openSaiku" image="../content/saiku-ui/images/src/saiku_32.png"
						onclick="mainToolbarHandler.openUrl('Saiku Analytics','Saiku Analytics','content/saiku-ui/index.html?biplugin=true')"
						tooltiptext="${saiku-plugin.label}" insertafter="newAnalysisButton" />
				</toolbar>
			</overlay>
		</overlay>
		
		<overlay id="launch" resourcebundle="content/saiku/saikuplugin.properties">
		<button id="saikuButton" image="content/saiku-ui/images/src/saiku_120.png" 
						command="openURL('Saiku Analytics','Saiku Analytics','content/saiku-ui/index.html?biplugin=true')"
						label="${saiku-plugin.button}" />
		</overlay>
	</overlays>

	<menu-items>
		<menu-item id="new-saiku" anchor="file-new-submenu" label="Saiku Analytics"
			command="content/saiku-ui/index.html?biplugin=true" type="MENU_ITEM" how="LAST_CHILD" />
	</menu-items>
	
	<content-type type="saiku" mime-type="text/html">
		<title>Saiku Analytics</title>
		<description>Saiku Analytics query definition file</description>
		<icon-url>content/saiku-ui/images/src/saiku_16.png</icon-url>
		<meta-provider>org.saiku.plugin.SaikuContentTypeMetaProvider</meta-provider>
		<operations>
			<operation>
				<id>RUN</id>
				<command>content/saiku-ui/index.html?solution={solution}&amp;path={path}&amp;action={name}&amp;dimension_prefetch=false&amp;mode=view&amp;biplugin=true#query/open/{name}</command>
			</operation>
			<operation>
				<id>EDIT</id>
				<command>content/saiku-ui/index.html?solution={solution}&amp;path={path}&amp;action={name}&amp;dimension_prefetch=false&amp;biplugin=true#query/open/{name}</command>
			</operation>
			<operation>
        		<id>NEWWINDOW</id>
        		<command>content/saiku-ui/index.html?solution={solution}&amp;path={path}&amp;action={name}&amp;dimension_prefetch=false&amp;mode=view&amp;biplugin=true#query/open/{name}</command>
        	</operation>        		
		</operations>
	</content-type>

	<content-generator id="saiku" title="fa la la la la, la la la la" type="notused" class="org.saiku.plugin.ServletAdapterContentGenerator"/>
	
	<lifecycle-listener class="org.saiku.plugin.SaikuPluginLifecycleListener" />
	

	<static-paths>
		<static-path url="/saiku-ui" localFolder="ui" />
  		<static-path url="/saiku-ui/css" localFolder="ui/css" />
  		<static-path url="/saiku-ui/docs" localFolder="ui/docs" />
  		<static-path url="/saiku-ui/i18n" localFolder="ui/i18n" />
  		<static-path url="/saiku-ui/images" localFolder="ui/images" />
  		<static-path url="/saiku-ui/views" localFolder="ui/views" />
  		<static-path url="/saiku-ui/js" localFolder="ui/js" />
  		<static-path url="/saiku-ui/config" localFolder="ui/config" />
	</static-paths>

</plugin>