/**
 * @fileOverview Saiku User Inteface (UI) Default Styles
 * @author Prashant Raju and Mark Cahill
 * @version 2.0.0
*/

/** Globals */

html, body {
    background: #FFF;
    height: 100%;
    min-width: 1052px;
    min-height: 600px;
    overflow: auto;
    text-align: left;
    width: 100%;
}
.clear {
    clear: both;
}
.hide {
    display: none;
}
.calign {
    text-align: center;
}
.lalign {
    text-align: left;
}
.ralign {
    text-align: right;
}
.used {
    font-weight: bold;
}

/** Header */
#header {
    background: #F0F0F0;
    border-bottom: 3px solid #F0F0F0;
}

/** Toolbar */

#toolbar {
    background: #EEEEEE;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#DDDDDD));
    background: -moz-linear-gradient(top, #EEEEEE 0%, #DDDDDD 100%);
    border-bottom: 1px solid #BBB;
    height: 50px;
}
#toolbar ul {
    list-style-type: none;
    margin: 0;
    padding: 7px 10px 7px 10px;
}
#toolbar ul li {
    display: inline-block;
    float: left;
    margin: 0;
    padding-right: 6px;
}
#toolbar ul li.separator {
    border-left: 1px solid #CCC;
    display: block;
    height: 26px;
    padding: 4px 4px 6px 4px;
    width: 1px;
}
#toolbar ul li a {
    border: 1px solid transparent;
    display: block;
    height: 26px;
    padding: 4px;
    width: 26px;
}
#toolbar ul li a:hover {
    border: 1px solid #CCC;
    padding: 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
#toolbar ul li a.new_tab {
    background: transparent url('../../../images/src/main_toolbar_doc_plus.png') 5px 5px no-repeat;
}
#toolbar ul li a.open_query {
    background: transparent url('../../../images/src/main_toolbar_folder.png') 5px 5px no-repeat;
}
#toolbar ul li a.logout {
    background: transparent url('../../../images/src/main_toolbar_on_off.png') 4px 5px no-repeat;
}
#toolbar ul li a.about {
    background: transparent url('../../../images/src/main_toolbar_info.png') 4px 4px no-repeat;
}
#toolbar ul li a.bug {
    background: transparent url('../../../images/src/main_toolbar_bug.png') 4px 4px no-repeat;
}
#toolbar ul li a.new_tab:hover {
    background: #F0F0F0 url('../../../images/src/main_toolbar_doc_plus.png') 5px 5px no-repeat;
}
#toolbar ul li a.open_query:hover {
    background: #F0F0F0 url('../../../images/src/main_toolbar_folder.png') 5px 5px no-repeat;
}
#toolbar ul li a.logout:hover {
    background: #F0F0F0 url('../../../images/src/main_toolbar_on_off.png') 4px 5px no-repeat;
}
#toolbar ul li a.about:hover {
    background: #F0F0F0 url('../../../images/src/main_toolbar_info.png')  4px 4px no-repeat;
}
#toolbar ul li a.bug:hover {
    background: #F0F0F0 url('../../../images/src/main_toolbar_bug.png') 4px 4px no-repeat;
}

/** Logo */
#logo a {
    background: transparent url("../../../images/src/logo_red.png") 24px 1px no-repeat;
    float: right;
    width: 166px;
    height: 28px;
    margin: -2px 10px 0 0;
    text-indent: -9999px;
}

/** Tabs */

#tabs {
    background: #F5F5F5;
    border-bottom: 1px solid #CCC;
    height: 28px;
    /*margin-bottom: 3px;*/
    padding-top: 3px;
    text-align: left;
}
#tabs ul {
    background: #F8F8F8;
    margin: 0;
    padding: 0 0 0 10px;
}
#tabs ul li {
    float: left;
    list-style: none;
    padding-right: 4px;
    background: #F2F2F2;
    color: #888;
    border-left: 1px solid #DDD;
    border-top: 1px solid #DDD;
    border-right: 1px solid #DDD;
    display: block;
    margin:1px 1px -1px 0;
    padding: 4px 0px 4px 0px;
    text-decoration: none;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
}
#tabs ul li.selected {
    background: #F0F0F0;
    border-left: 1px solid #CCC;
    border-top: 1px solid #CCC;
    border-right: 1px solid #CCC;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F0F0));
    background: -moz-linear-gradient(top, #FFFFFF 0%, #F0F0F0 100%);
    border-bottom: 1px solid #F0F0F0 !important;
    font-weight: bold;
}
#tabs ul li:hover {
    border-left: 1px solid #BBB;
    border-top: 1px solid #BBB;
    border-right: 1px solid #BBB;
}
#tabs ul li a {
    color: #777;
    cursor: pointer;
    padding: 5px 2px 5px 10px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #FFFFFF;
}
#tabs ul li.selected a {
    color: #222;
}
#tabs ul li a:hover{
    color: #222;
}
#tabs ul li span.close_tab {
    -moz-background-origin: 0px 2px;
    background: transparent url('../../../images/src/tabs_cross_off.png') 0px 1px no-repeat;
    display: inline-block;
    height: 18px;
    text-indent: -999px;
    width: 20px;

}
#tabs ul li span.close_tab:hover {
    background: transparent url('../../../images/src/tabs_cross_on.png') 0px 1px no-repeat;
    cursor: pointer !important;
    display: inline-block;
    height: 18px;
    width: 20px;
    -moz-background-origin: 0px 2px;
}

/** Sidebar */

.sidebar {
    float: left;
    overflow: hidden;;

    width: 260px;
}
.sidebar h3 {
    background: #F9F9F9;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F0F0));
    background: -moz-linear-gradient(top, #FFFFFF 0%, #F0F0F0 100%);
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    /*font-size: 13px;*/
    font-size: 12px;
    font-weight: bold;
    line-height: 1.6em;
    margin: 0;
    padding: 4px 10px 6px;
    text-shadow: 1px 1px 0 #FFFFFF;
}
.sidebar h3.top {
    border-top: none !important;
    margin: 0;
    padding-top: 5px;
}
.sidebar .sidebar_inner {
    padding: 10px;

}
.sidebar .sidebar_inner select {
    border: 1px solid #CCC;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 100.01%;
    margin: 0;
    padding: 2px;
    width: 100%;
}
.sidebar .sidebar_inner ul {
    margin: 0;
}
.sidebar .dimension_tree {
    height: 35%;
    overflow: auto;
}
.sidebar .measure_tree {
    height: 30%;
    overflow: auto;
}

/** Sidebar Separator */

.sidebar_separator {
    background: #F0F0F0;
    border-right: 1px solid #CCC;
    border-left: 1px solid #CCC;
    cursor: pointer;
    float: left;
    width: 3px;
}
.sidebar_separator:hover {
    background: #E0E0E0;
    border-right: 1px solid #CCC;
    border-left: 1px solid #CCC;
    width: 3px;
}

/** Tree */

#queries {
    margin: 0;
    padding: 0;
}
#queries li {
    background: url("../../../images/src/mdx.png") no-repeat scroll 1px 0 transparent;
    cursor: pointer;
    line-height: 17px;
    list-style-type: none;
    margin: 0;
    padding-left: 22px;
    padding-bottom: 5px;
}
#queries li a {
    color: #222;
    text-decoration: none;
}
#queries li a:hover {
    background: #f0f0f0;
}
#query_info {
    list-style-type: none;
    padding-left: 0;
}


.dimension_tree ul,
.measure_tree ul {
    margin: 0;
    padding: 0;
}
.dimension_tree ul li,
.measure_tree ul li {
    line-height: 19px;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
.dimension_tree ul li span.collapsed,
.measure_tree ul li span.collapsed {
    background: url('../../../images/src/tree_collapsed.png') 0px -2px no-repeat;
    cursor: pointer;
    padding-left: 20px;
}
.dimension_tree ul li span.expand,
.measure_tree ul li span.expand {
    background: url('../../../images/src/tree_expand.png') 0px -2px no-repeat;
    cursor: pointer;
    padding-left: 20px;
}
.dimension_tree ul li a,
.measure_tree ul li a {
    color: #222;
    padding-left: 20px;
    text-decoration: none;
}
.dimension_tree ul li a.folder_expand,
.measure_tree ul li a.folder_expand {
    background: url('../../../images/src/tree_folder_expand.png') 0px -2px no-repeat;
}
.dimension_tree ul li a.folder_collapsed,
.measure_tree ul li a.folder_collapsed {
    background: url('../../../images/src/tree_folder_collapsed.png') 0px -2px no-repeat;
}
.dimension_tree ul li ul,
.measure_tree ul li ul {
    padding: 0 0 0 18px;
    margin: 0;
}
.dimension_tree ul li ul li,
.measure_tree ul li ul li {
    padding-left: 18px;
}
.dimension_tree ul li ul li a {
    /* cursor: move; */
    padding-left: 20px;
    background: url('../../../images/src/bullet_blue.png') 0px -2px no-repeat;
}
.measure_tree ul li ul li a {
    /* cursor: move; */
    padding-left: 20px;
    background: url('../../../images/src/bullet_red.png') 0px -2px no-repeat;
}
.dimension_tree .hierarchy {
    padding-left: 1px;
}
.dimension_tree .hierarchy a {
    cursor: default;
    background: url('../../../images/src/bullet_green.png') 0px -2px no-repeat;
}

@-moz-document url-prefix() {
    .sidebar h3.top {
    border-top: none !important;
    margin: 0;
    padding-top: 6px;
}
.sidebar h3 {
    line-height: 1.5em;
    margin: 0;
    padding: 5px 10px 6px;
}
.dimension_tree ul li ul li a {
    /* cursor: move; */
    padding-left: 20px;
    background: url('../../../images/src/bullet_blue.png') 0px -1px no-repeat;
}
.measure_tree ul li ul li a {
    /* cursor: move; */
    padding-left: 20px;
    background: url('../../../images/src/bullet_red.png') 0px -1px no-repeat;
}
.dimension_tree .hierarchy {
    padding-left: 1px;
}
.dimension_tree .hierarchy a {
    cursor: default;
    background: url('../../../images/src/bullet_green.png') 0px -1px no-repeat;
}
}

/** Tab Panel */

#tab_panel {
    border-top: 1px solid #CCC;
}

/** Tab Workspace */

.workspace {
    background: #FFFFFF;
    float: right;
    margin-left: -265px;
    width: 100%;
}

/** Tab Workspace Inner */

.workspace_inner {
    margin-left: 265px;
    /*overflow: auto;*/
}

/** Field List */

.workspace_fields {
    overflow: hidden;
    padding: 0 10px 0 10px;
}
.fields_list {
    border: 1px solid #CCC;
    margin-bottom: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.fields_list .fields_list_header {
    background: #F9F9F9;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F0F0));
    background: -moz-linear-gradient(top, #FFFFFF 0%, #F0F0F0 100%);
    border-right: 1px solid #CCC;
    float: left;
    font-weight: bold;
    padding: 2px 5px 3px 5px;
    line-height: 23px;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 62px;
}
.fields_list .fields_list_body {
    float: left;
    padding:  2px 0 3px 0;
    width: 87%;
}
.fields_list .fields_list_body a {
    /* cursor: move; */
}
.fields_list .fields_list_body .all_measures span {
    margin: 0 5px 0 0;
    line-height: 17px;
    padding: 0 6px 1px 6px;
}
.fields_list .fields_list_body ul {
    height: 22px;
    display: inline;
    float: left;
    line-height: 22px;
    list-style: none;
    margin: 0 10px;
    padding: 0;
    width: 100%;
}
.fields_list .fields_list_body ul li {
    float: left;
    line-height: 16px;
    list-style-type: none;
    height: 16px;
    display: inline;
    margin: 3px 5px 0 0;
    padding: 0 6px;
    min-width: 70px;
    text-align: center;
}
.fields_list .fields_list_body ul li ul {
    float: right;
    margin-right: -5px;
    margin-left: 0;
    width: auto;
}
.fields_list .fields_list_body ul li ul li {
    margin-top: 0;
    margin-right: 5px;
    min-width: 70px;
}
.fields_list .fields_list_body .all_measures {
    padding: 0 !important;
}

/** Draggables, Sortables and Droppables */

.ui-sortable-helper {
    line-height: 15px !important;
    min-width: 70px;
    text-align: center;
}
.ui-sortable-helper a {
    cursor: move !important;
}
.ui-draggable-dragging {
    display: inline !important;
    height: 15px !important;
    line-height: 15px !important;
    list-style-type: none !important;
    margin: 0 !important;
    min-width: 70px;
    padding: 0 6px !important;
    text-align: center;
    -moz-box-shadow: 0 0 2px #DDD;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 0 0 2px #DDD;
    -webkit-border-radius: 3px;
}
.ui-draggable-dragging a {
    background-image: none !important;
    cursor: move !important;
    padding: 0 !important;
}
.dimension_tree ul .ui-draggable-dragging {
    background: #e5f6ff !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#e0e9ef), to(#c2d5e2)) !important;
    background: -moz-linear-gradient(top, #e0e9ef 0%, #c2d5e2 100%) !important;
    border: 1px solid #2a6085 !important;
    color: #2a6085 !important;
    text-align: center;
}
.dimension_tree ul .ui-draggable-dragging a {
    color: #2a6085 !important;
}
.measure_tree ul .ui-draggable-dragging {
    background: #ffe8e8 !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcf5f5), to(#fad9d9)) !important;
    background: -moz-linear-gradient(top, #fcf5f5 0%, #fad9d9 100%) !important;
    border: 1px solid #ed9393 !important;
    color: #983030 !important;
    text-align: center;
}
.measure_tree ul .ui-draggable-dragging a {
    color: #983030 !important;
}
.d_dimension {
    background: #e5f6ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#e0e9ef), to(#c2d5e2));
    background: -moz-linear-gradient(top, #e0e9ef 0%, #c2d5e2 100%);
    border: 1px solid #2a6085;
    color: #2a6085;
    display: inline !important;
    margin-left: 10px;
    -moz-box-shadow: 0 0 2px #DDD;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 0 0 2px #DDD;
    -webkit-border-radius: 3px;
}
.d_dimension a {
    background-image: url("../../../images/src/filter.png");
    background-repeat: no-repeat;
    background-position:  right center;
    color: #2a6085;
    padding-right: 15px;
    text-decoration: none;
}
.d_measure {
    background: #ffe8e8;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcf5f5), to(#fad9d9));
    background: -moz-linear-gradient(top, #fcf5f5 0%, #fad9d9 100%);
    border: 1px solid #ed9393;
    color: #983030;
    display: inline !important;
    margin-left: 10px;
    -moz-box-shadow: 0 0 2px #DDD;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 0 0 2px #DDD;
    -webkit-border-radius: 3px;
}
.d_measure a {
    color: #983030;
    text-decoration: none;
}
.empty_placeholder,
.placeholder {
    border: 1px dashed #999;
    color: #999;
    line-height: 15px;
    list-style-type: none;
    height: 16px;
    display: inline;
    margin: 3px 5px 0 0;
    padding: 0 6px;
    min-width: 70px;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.not-draggable a {
    /*cursor: not-allowed !important;*/
}

/** Table */

.datatable {
    background: #FFF;
}
.datatable .int {
    text-align: right;
}
.datatable .str {
    text-align: left;
}
.datatable tr th {
    background: #FFF;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    font-weight: bold;
}
.datatable tr td {
    background: #FFF !important;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
}

/** Dialog */

.dialog {
    background: #FFF;
    border: 3px solid #EEE;
    width: 400px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-box-shadow: 0 0 10px #EEE;
    -webkit-box-shadow: 0 0 10px #EEE;
}
.dialog input[type=text],
.dialog input[type=password] {
    padding: 4px;
    width: 277px;
}
.dialog .dialog_inner {
    border: 1px solid #CCC;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}
.dialog .dialog_inner .dialog_header {
    background: #F9F9F9;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F0F0));
    background: -moz-linear-gradient(top, #FFFFFF 0%, #F0F0F0 100%);
    border-bottom: 1px solid #CCC;
    height: 18px;
    padding: 5px 5px 6px 10px;
    -moz-box-shadow:0 1px 3px #DDDDDD;
    -webkit-box-shadow:0 1px 3px #DDDDDD;
}
.dialog .dialog_inner .dialog_header h3 {
    float: left;
    /*font-size: 13px;*/
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    margin: 0;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 200px;
}
.dialog .dialog_inner .dialog_header a.close_dialog {
    background: transparent url('../../../images/src/tabs_cross_off.png') 0px 1px no-repeat;
    display: inline-block;
    /*cursor: pointer;*/
    float: right;
    height: 18px;
    text-indent: -9999px;
    width: 20px;
}
.dialog .dialog_inner .dialog_header a.close_dialog:hover {
    background: transparent url('../../../images/src/tabs_cross_on.png') 0px 1px no-repeat;
}
.dialog .dialog_inner .dialog_body {
    padding: 10px;
}
.dialog .dialog_inner .dialog_body_info {
    background: transparent url('../../../images/src/toolbar_info.png') 20px 10px no-repeat;
    min-height: 40px;
    overflow: auto;
    padding: 10px 10px 20px 70px;
}
.dialog .dialog_inner .dialog_body_mdx {
    background: transparent url('../../../images/src/toolbar_message.png') 20px 10px no-repeat;
    min-height: 40px;
    overflow: auto;
    padding: 5px 10px 20px 70px;
}
.dialog .dialog_inner .dialog_body_mdx textarea {
    width: 300px;
    height: 100px;
    font-size: 11px;
}
.dialog .dialog_inner .dialog_body_save {
    background: transparent url('../../../images/src/toolbar_save.png') 20px 10px no-repeat;
    min-height: 40px;
    overflow: auto;
    padding: 10px 10px 20px 70px;
}
.dialog .dialog_inner .dialog_body_error {
    background: transparent url('../../../images/src/toolbar_error.png') 20px 10px no-repeat;
    min-height: 40px;
    overflow: auto;
    padding: 10px 10px 20px 70px;
}
.dialog .dialog_inner .dialog_body_delete {
    background: transparent url('../../../images/src/toolbar_delete.png') 20px 10px no-repeat;
    min-height: 40px;
    overflow: auto;
    padding: 10px 10px 20px 70px;
}
.dialog .dialog_inner .dialog_body_login {
    background: transparent url('../../../images/src/dialog_login_red.png') 25px 15px no-repeat;
    min-height: 40px;
    padding: 10px 10px 20px 100px;
}
.dialog .dialog_inner .dialog_body_waiting {
    background: transparent url('../../../images/src/waiting.gif') 10px 10px no-repeat;
    padding: 10px 10px 10px 30px;
}
.dialog .dialog_inner .dialog_footer {
    border-top: 1px solid #CCC;
    /*margin-top: 10px;*/
    padding: 10px 10px;
    text-align: right
}
.dialog .dialog_inner .dialog_footer .tested_browsers {
    padding-right: 10px;
}

.dialog_footer {
    clear: both;
}

/** Workspace Area */

.workspace_area {
    overflow: auto;
}

/** Workspace Results */

.workspace_results {
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 10px;
    overflow: auto;
}
.workspace_results table {
    border-bottom: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    margin-bottom: 0;
    table-layout: fixed;
    width: auto;
}
.workspace_results table th {
    border-left: 1px solid #d5d5d5;
    margin-bottom: 0;
    white-space: nowrap;
}
.workspace_results table th.all_null {
    text-align: center;
    border: none;
}
.workspace_results table th.col {
    border-top: 1px solid #d5d5d5;
    background: #f9f9f9;
    text-align: left;
}
.workspace_results table th.row {
    border-top: 1px solid #d5d5d5;
    background: #f9f9f9;
}
.workspace_results table th.row_null {
    background: #f9f9f9;
}
.workspace_results table td.data {
    border-left: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
    text-align: right;
    white-space: nowrap;
}

/** Save Dialog */
.error_msg {
    color: #CC0000;
}

/** blockUI */
.blockOverlay, .blockMsg {
    cursor: default !important;
}
.blockMsg {
    background: #FFF !important;
    border: none !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.processing {
    border: 3px solid #EEE;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-box-shadow: 0 0 10px #EEE;
    -webkit-box-shadow: 0 0 10px #EEE;
}
.processing_inner {
    border: 1px solid #CCC;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    padding: 10px 5px 10px 10px;
}
.processing_image {
    display: inline-block;
    background-image: url('../../../images/src/waiting.gif');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

/** Workspace toolbar. */

.workspace_toolbar {
    background: #F9F9F9;
    border-bottom: 1px solid #CCC;
    font-weight: bold;
    height: 24px;
    margin: 0 0 10px 0;
    padding: 3px 10px 3px 5px;
    text-shadow: 1px 1px 0 #FFFFFF;
}
.disabled_toolbar {
    opacity: 0.3 !important;
}
.disabled_toolbar a.button:hover {
    border: none !important;
    padding: 4px !important;
}
.workspace_toolbar ul {
    margin: 0;
    padding: 0;
}
.workspace_toolbar ul li {
    display: inline;
    float: left;
    padding-left: 5px;
}
.workspace_toolbar ul li.seperator {
    border-left: 1px solid #D5D5D5;
    margin-left: 5px;
}
.workspace_toolbar a.button {
    display: block;
    height: 16px;
    padding: 4px;
    width: 16px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.workspace_toolbar a.button:hover {
    border: 1px solid #CCC;
    padding: 3px;
}
.workspace_toolbar a.on {
    border: 1px solid #CCC;
    background-color: #E0E0E0;
    padding: 3px !important;
}
.workspace_toolbar .open {
    background-image: url('../../../images/src/folder.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.workspace_toolbar .delete {
    background-image: url('../../../images/src/delete.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.workspace_toolbar .save {
    background-image: url('../../../images/src/save.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.workspace_toolbar .run {
    background-image: url('../../../images/src/run.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.workspace_toolbar .auto {
    background-image: url('../../../images/src/auto.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.workspace_toolbar .non_empty {
    background-image: url('../../../images/src/non.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.workspace_toolbar .swap_axis {
    background-image: url('../../../images/src/swap.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.workspace_toolbar .mdx {
    background-image: url('../../../images/src/mdx.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.workspace_toolbar .export_csv {
    background-image: url('../../../images/src/csv.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.workspace_toolbar .export_xls {
    background-image: url('../../../images/src/excel.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.workspace_toolbar .toggle_fields {
    background-image: url('../../../images/src/fields.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.workspace_toolbar .drillthrough {
    background-image: url('../../../images/src/drillthrough.png');
    background-repeat: no-repeat;
    background-position: center center;
}


/** Selections 
.selection_tree {
    width: 60%;
    min-height: 480px;
    overflow: auto; 
}

.selection_listbox {
    width: 35%;
    float: right;
}

.selection_listbox select {
	min-height: 480px;
	width: 100%;
	margin: 0;
}

.selections {
	width: 80%;
}**/

#dialog_selections {
    min-width: 500px !important;
}
#dialog_selections .dialog_body {
    height: 300px;
}
#dialog_selections .dialog_body .available_selections {
    padding-left: 5px;
    float: left;
}
#dialog_selections .dialog_body .selection_buttons {
    float: left;
    padding-left: 25px;
    padding-top: 115px;
    text-align: center;
    vertical-align: middle;
}
#dialog_selections .dialog_body .used_selections {
    padding-right: 5px;
    float: right;
}
#dialog_selections .dialog_body select {
    height: 270px;
    width: 200px;
    font-size: 11px;
    overflow-x: scroll;
}
#dialog_selections .dialog_footer .options {
    float: left;
    width: 150px;
    text-align: left;
}
#dialog_selections .dialog_footer .footer_buttons {
    float: right;
    width: 200px;
}

.form_button {
    background: #F0F0F0;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F0F0));
    background: -moz-linear-gradient(top, #FFFFFF 0%, #F0F0F0 100%);
    border: 1px solid #CCCCCC;
    box-shadow: 0px 0px 3px #DDDDDD;
    color: #222222 !important;
    font-size: 1em;
    height: 18px;
    margin-bottom: 2px;
    padding: 5px 5px;
    text-decoration: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.form_button:hover {
    border: 1px solid #999;
    color: #222222;
}

#simplemodal-overlay {
    background: #FFFFFF;
    opacity: 0.5 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}